@use "@/styles/variables.scss" as *;

.vote-container {
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.candidate-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.candidate-list li {
  margin: 8px 0;
}

.candidate-list label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.candidate-list input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid $button_light;
  border-radius: 50%;
  outline: none;
  position: relative;
  transition: all 0.3s ease;
}

.candidate-list input[type="radio"]:checked {
  background-color: $button_light;
  border: 5px solid white;
  box-shadow: 0 0 0 2px $button_light;
}

.candidate-list label:hover {
  border: 2px solid $button_light;
  border-radius: 8px;
}

.vote-button {
  background: $button_light;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.vote-button:hover {
  background: $button_hover_light;
}
