@use "../../styles/variables.scss" as *;

.footer {
    grid-area: footer;
    &-content {
        background-color: $navbar;
        padding: 12px;
        text-align: center;
        a {
            color: $general_dark;
            text-decoration: none;
            transition: all 0.3s ease;
            &:hover {
                color: $button_light;
            }
        }
    }
}


