.main {
  grid-area: main;
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
  }

  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
