@use "./fonts.scss";
@use "./variables.scss" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.authenticated {
  width: calc(100% - $sidebar_width);
  margin-left: $sidebar_width;
  transition: width 0.3s ease-in-out;
}


body {
  font-size: 16px;
  color: $general_dark;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  text-align: left !important;
}

input {
  all: unset;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > * {
    padding: 4px;
    & > * {
      border-radius: 12px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.sidebar {
  padding: 4px;
  & > * {
    border-radius: 12px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  }
}

.main, .header, .footer {
  & > * {
    padding-left:  30px;
    padding-right:  30px;
  }
}