@use "./fonts.scss";
@use "./variables.scss" as *;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-container.authenticated {
  width: calc(100% - $sidebar_width);
  margin-left: $sidebar_width;
  transition: margin-left 0.3s ease-in-out;
}



body {
  color: $general_dark;
  font-family: "Montserrat", sans-serif;

  & > header,
  main,
  footer {
    padding-left: 80px;
    padding-right: 80px;
  }
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  text-align: left !important;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 36px;
}

input {
  all: unset;
}
