$general_dark: #222831;
$general_light: #f4f4f4;
$button_light: #00adb5;
$button_hover_light: #393e46;
$button_dark: #1e1e1e;
$button_hover_dark: #343434;
$border_dark: #2c2c2c;
$border_light: #fbfbfb;
$selected: #dfdcdc;
$navbar: #f5f0f0;
$button_danger: #ff5722;

$header_height: 80px;
$sidebar_width: 280px;
$sidebar_height: 100vh;
