@use "../../styles/variables.scss" as *;
.sidebar {
  width: 0;
  height: 100%;
  position: fixed;
  background: $navbar;
  padding: 1rem;
  transition: left 0.3s ease-in-out;
  padding-top: 0;

  &.open {
    left: 0;
    top: 0;
    width: $sidebar_width;
    height: $sidebar_height;
  }

  &.hidden {
    left: -$sidebar_width;
    top: 0;
    width: $sidebar_width;
    height: $sidebar_height;
  }

  ul {
    height: 100%;
    list-style: none;
    li {
      border-radius: 30px;
      font-size: 20px;
      margin-bottom: 16px;
      a {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
      }
      &.active {
        background-color: $selected;
        color: $button_light;
        font-weight: bold;
      }
      &:hover {
        background-color: $selected;
        transition: all 0.2s ease-out;
      }
    }
  }

  .logout {
    font-size: 24px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 30px;
    color: $button_hover_light;

    &:hover {
      background: $button_danger;
      transition: all 0.3s ease-in;
    }
  }

  &_wrapper {
    padding-top: 40px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
