@use "../../styles/variables.scss" as *;
header {
  height: $header_height;
  width: 100%;
  background: $navbar url("/images/header-background.png") repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .user {
    font-size: 24px;
  }

  .locales {
    display: flex;
    gap: 10px;
    font-size: 24px;
    text-transform: uppercase;
    .locale {
      cursor: pointer;
      &:hover {
        color: $button_light;
      }
      &.active {
        color: $button_light;
        font-weight: 600;
      }
      transition: all 0.2s ease-out;
    }
  }
}
