@use "@/styles/variables.scss" as *;
.candidates-container {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.date-range {
  font-size: 16px;
  color: #555;
  margin-bottom: 14px;
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
}

.candidates-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}




.vote-button {
  background: darken($general_light, 10%);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.vote-button:hover {
  border: 2px solid $button_light;
  background: darken($general_light, 10%);
  font-weight: bold;
  color: $button_light;
}

.vote-button:disabled {
  background: $general_light;
  color: $general_dark;
  cursor: not-allowed;
  transform: none;
}
