@use "@/styles/variables.scss" as *;
.candidates-container {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.date-range {
  font-size: 16px;
  color: #555;
  margin-bottom: 14px;
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
}

.candidates-list {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.candidate-card {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.candidate-image {
  border-radius: 20px;
  width: 340px;
  height: 340px;
  object-fit: cover;
}

.candidate-name {
  font-size: 22px;
  margin: 10px 0;
  object-fit: cover;
}

.candidate-info-btn {
  background: $general_dark;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    font-weight: bold;
    color: $general_dark;
    background: $general_light;
  }
}


.candidate-card {
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  //filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  opacity: 0.8;
  border: 2px solid transparent;
}



.candidate-card:hover {
  border: 2px solid $selected;
  background-color: darken($selected, 5%);
  transform: scale(1.05);
  opacity: 1;
}

.candidate-card.selected {
  border: 2px solid $border_dark;
  background-color: $selected;
  transform: scale(1.05);
  opacity: 1;
}

.vote-button {
  background: $button_light;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
}

.vote-button:hover {
  border: 2px solid $button_light;
  background: darken($general_light, 10%);
  font-weight: bold;
  color: $button_light;
}

.vote-button:disabled {
  background: $general_light;
  color: $general_dark;
  cursor: not-allowed;
  transform: none;
}
